/*variables*/
:root {
    /*font*/
    --font-family-base: 'SF Pro Display', sans-serif;

    /*colors*/
    --color-background-header: #000000;
    --color-main-text: #4F4F4F;
    --color-headlines-button: #EB5757;
    --color-button: #F2C94C;
    --color-button-section: #333333;
    --color-backgroundmain-form: #FFFFFF;
    --color-background-secondary: #F2F2F2;
    --color-ineed-buttons: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    --color-secondary-text: #D89595;
    --color-background-form: #E15252;
    --color-footer: #C4C4C4;
}